<?xml version="1.0"?>
<configuration>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <!--Redridge-->
    <!--<add key="defaultMapX" value="49"/>
    <add key="defaultMapY" value="36"/>-->
    
    <!--Center Tile-->
    <!--
    <add key="defaultMapX" value="32"/>
    <add key="defaultMapY" value="32"/>-->

    <!--Stormwind-->
    <!--
    <add key="defaultMapX" value="48" />
    <add key="defaultMapY" value="30" />
    -->

    <!--Burning Steppes-->
    <!--
    <add key="defaultMapX" value="49" />
    <add key="defaultMapY" value="33" />
    -->
  </appSettings>
</configuration>
