<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" />
  </startup>
  <appSettings>
    <add key="useExtractedData" value="False" />
    <add key="mpqPath" value="d:\coding\C#\WCellOther\Mapdata\" />
    <add key="defaultContinent" value="Azeroth" />
    <add key="mapId" value="0" />

    <!--Redridge-->
    <add key="defaultMapX" value="49" />
    <add key="defaultMapY" value="36" />
    
    <!--Center Tile-->
    <!--
    <add key="defaultMapX" value="32"/>
    <add key="defaultMapY" value="32"/>-->

    <!--Stormwind-->
    <!--
    <add key="defaultMapX" value="48" />
    <add key="defaultMapY" value="30" />
    -->

    <!--Burning Steppes-->
    <!--
    <add key="defaultMapX" value="49" />
    <add key="defaultMapY" value="33" />
    -->
  </appSettings>
</configuration>