obj
*.suo
*.user
*.cache
*_ReSharper.*
*.vs10x
*.bak

changes
Run/Content/dbc*
Run/Content/Maps/*
Run/Debug/*
Run/Release/*
TestResults/*
Utilities/WCell.SolutionItems/bin/*
Addons/.gitignore

Addons/GossipMenus/bin
wcelladdon/
*.docstates
TestResults/

#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.tlb
*.tlh
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
/packages
/*.sln.ide
Run/Content/Impl/UDB/unifieddb/
Run/Content/Impl/UDB/unifieddb.zip
