obj
*.suo
*.user
*.cache
*_ReSharper.*
*.vs10x
*.bak

changes
Run/Content/dbc*
Run/Content/Maps/*
Run/Debug/*
Run/Release/*
TestResults/*
Utilities/WCell.SolutionItems/bin/*
Addons/.gitignore

Addons/GossipMenus/bin
wcelladdon/
Recast/
WCell-Terrain/
*.docstates
TestResults/