<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <runtime>
    <gcServer enabled="true" />
  </runtime>
  <appSettings>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <nlog autoReload="true">
    <variable name="logDirectory" value="${basedir}\logs" />
    <variable name="normalRealmServerLog" value="realmServer-${level}.wcelllog" />
    <variable name="archiveRealmServerLog" value="realmServer-${level}-{#####}.wcelllog" />
    <targets>
      <target name="console" type="AsyncWrapper">
        <target type="ColoredConsole" layout="(${processtime}) [${level}] ${message} ${exception:format=tostring}" />
      </target>
      <target name="file" type="AsyncWrapper">
        <target type="File" fileName="${logDirectory}\${normalRealmServerLog}" encoding="utf-8" archiveEvery="ArchiveEveryMode.Day" archiveFileName="${logDirectory}\${archiveRealmServerLog}" archiveNumbering="ArchiveNumberingMode.Rolling" maxArchiveFiles="10000" layout="(${longdate}) [${level}] ${message} ${exception:format=tostring}" />
      </target>
    </targets>
    <rules>
      <logger name="*" minlevel="Debug" writeTo="console,file" />
    </rules>
  </nlog>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>