<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  <runtime>
    <gcServer enabled="true"/>
  </runtime>
  <appSettings>
  </appSettings>
  <nlog autoReload="true">
    <variable name="logDirectory" value="${basedir}\logs"/>
    <variable name="normalAuthServerLog" value="authServer-${level}.wcelllog"/>
    <variable name="archiveAuthServerLog" value="authServer-${level}-{#####}.wcelllog"/>
    <targets>
      <target name="console" type="AsyncWrapper">
        <target type="ColoredConsole" layout="(${processtime}) [${level}] ${message} ${exception:format=tostring}"/>
      </target>
      <target name="file" type="AsyncWrapper">
        <target type="File" fileName="${logDirectory}\${normalAuthServerLog}" encoding="utf-8" archiveEvery="ArchiveEveryMode.Day" archiveFileName="${logDirectory}\${archiveAuthServerLog}" archiveNumbering="ArchiveNumberingMode.Rolling" maxArchiveFiles="10000" layout="(${longdate}) [${logger}] [${level}] ${message} ${exception:format=tostring}"/>
      </target>
    </targets>
    <rules>
      <logger name="*" writeTo="console,file"/>
    </rules>
  </nlog>
</configuration>
